# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# System
.DS_Store
Thumbs.db
